<mat-sidenav-container>
  <mat-sidenav opened mode="side">
    <div class="logo" [routerLink]="['home']">
      <div class="icon">
        <mat-icon>
          account_balance
        </mat-icon>
      </div>
      <h2 [routerLink]="['home']">Jokes & Manga</h2>
    </div>    
    <div class="nav-list">

      <hr class="heading-line-user" />

      <mat-nav-list>
        <h3 class="heading-user-management">Home</h3>

        <a mat-list-item [routerLink]="['home']" [routerLinkActive]="['active']">Jokes</a>
      </mat-nav-list>

      <mat-nav-list>
        <h3 class="heading-user-management">Manga</h3>
      
        <a mat-list-item [routerLink]="['manga']" [routerLinkActive]="['active']">Manga</a>
      </mat-nav-list>

      <hr class="heading-line-user" />
      
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="logout-button">
      <a class="logout" mat-raised-button color="warn" (click)="logout()">
        Logout
      </a>
    </div>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
