<div class="main-container">
  <h1>Welcome! Some Jokes to enjoy here!</h1>
  <button mat-raised-button color="primary" style="display:flex;justify-content:center" (click)="ngOnInit()">Refresh Jokes</button>

  <div class="cardContainer">
  <mat-spinner *ngIf="busy" style="display:flex;justify-content:center" color="primary" [diameter]="200">
    loading...
  </mat-spinner>
    <div class="card" *ngFor="let joke of jokes">  
      <h2 *ngIf="!busy">{{ joke.type }}</h2>

      <p *ngIf="!busy">{{ joke.setup }}</p>

      <p *ngIf="!busy">{{ joke.punchline }}</p>
    </div>
  </div>
</div>
